/* Estilo para párrafos */
p {
    font-family: Arial, sans-serif;
    line-height: 1.6; /* Mejora la legibilidad */
    margin-bottom: 15px;
    text-align: justify;
    color: #333;
}
.navbar .nav-link:hover {
    color: #D2691E;
    font-weight: bold;
}

/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f5f0;
    color: #333;
    line-height: 1.6; /* Mejora la legibilidad */
}

/* Navbar */
.navbar {
    background-color: #5a3e2b;
}



/* Títulos */
.h12 {
    color: #5a3e2b; /* Marrón oscuro */
    font-family: 'Georgia', serif;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

/* Párrafos */
p {
    line-height: 1.8;
    margin-bottom: 15px;
    text-align: justify;
}

/* Pirámide */
.piramide {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    color: #5a3e2b; /* Marrón oscuro */
    font-style: italic;
    margin: 30px 0;
}

/* Contenedores */
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Filas y columnas */
.row {
    margin-bottom: 20px;
}

.col-md-6 {
    padding: 10px;
}

/* Botones */
button, .btn {
    background-color: #d4a373; /* Marrón claro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover, .btn:hover {
    background-color: #5a3e2b;
}


th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: #333; /* Texto oscuro */

}

/* Estilo para el acordeón */
.accordion-button {
    background-color: #f9f5f0;
    color: #333; /* Texto oscuro */
    font-weight: bold;
}

.accordion-button:hover {
    background-color: #d4a373; /* Marrón claro */
    color: #fff;

}

.accordion-button:not(.collapsed) {
    background-color: #d4a373;
    color: #fff;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(212, 163, 115, 0.5);
}

.accordion-button::after {
    content: '\002B';
    font-size: 1.25rem;
    color: #333;
    transform: rotate(0deg); /* Sin rotación */
    transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    content: '\2212';
    transform: rotate(0deg); /* Sin rotación */
}
